{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
   
    <div class="row">
        <aside class="col-lg-8">
            <div class="card">
                <h5 class="card-header">Billing <Address></Address></h5>
                <div class="card-body">
                  <p class="card-text mb-0"> <strong>Name:</strong>  {{order.full_name | title }} </p>
                  <p class="card-text mb-0"><strong>Address:</strong>  {{order.full_address | title }}</p>
                  <p class="card-text mb-0"><strong>Pickup_station:</strong>  {{order.pickup | title }}</p>
                  <p class="card-text mb-0"><strong>Contact:</strong>  {{order.phone}}</p>
                  {% if order.order_note %}
                  <p class="card-text mb-0"><strong>Comment:</strong>  {{order.order_note |capfirst}}</p>
                  {% endif %}
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Payment Method <Address></Address></h5>
                <div class="card-body">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Review Products <Address></Address></h5>
                <div class="card-body">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
    
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">${{ total }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> ${{ tax }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'images/misc/payments.png' %}" height="26">
                </p>
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Make Payments </a>
                
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>

{% endblock %}